{
        "imposters": [
                {
                        "port": "8090",
                        "protocol": "http",
                        "name": "profiles",
                        "stubs": [
                                {
                                        "predicates": [ <% include profiles/success/success_predicates.ejs %> ],
                                        "responses": [ <% include profiles/success/success_response.ejs %> ]
                                },
                                {
                                        "predicates": [ <% include profiles/fail/fail_predicates.ejs %> ],
                                        "responses": [ <% include profiles/fail/fail_response.ejs %> ]
                                },
                                {
                                        "predicates": [ <% include profiles/fail/invalidFieldcoID_predicates.ejs %> ],
                                        "responses": [ <% include profiles/fail/invalidFieldcoID_response.ejs %> ]
                                },
                                {
                                        "responses": [ <% include proxy.ejs %> ]
                                }
                        ]
                }
        ]
}